{% extends 'base.html.twig' %}

{% block title %}Hello VenteController!{% endblock %}

{% block body %}
    <div class="annonce-title" style="background-image: url({{voiture.cover}});">
        <div class="container">
            <h1>{{voiture.marque}}</h1>
            <p>{{voiture.modele}}</p>
            <a href="#" class="btn btn-primary"></a>
        </div>
    </div>



<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/duboism/Desktop/symphonyDocs/garage/src/Controller/VenteController.php'|file_link(0) }}">src/Controller/VenteController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/duboism/Desktop/symphonyDocs/garage/templates/vente/index.html.twig'|file_link(0) }}">templates/vente/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
